.shop-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 100px;
    margin: 100px 100px;
}
.shop{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.cart-container{
    position: relative;
}
.lol{
    position: absolute;
    top: 0;
}